## This file is part of Whonix.
## Copyright (C) 2017 - 2017 Patrick Schleizer <adrelanos@riseup.net>
## See the file COPYING for copying conditions.

[Desktop Entry]
Type=Application
Exec=/usr/lib/gateway-shortcuts/wrapper /usr/lib/workstation-shortcuts/reloadfirewall
Name=Reload Firewall
GenericName=Reload Whonix-Workstation Firewall
Comment=Reload Whonix-Workstation Firewall using "sudo /usr/bin/whonix_firewall"
Categories=System
Icon=/usr/share/icons/anon-icon-pack/quick_restart.ico
Keywords=system;Whonix;firewall
